<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="alvin2.jpg" alt="alvin putra" class="img-thumbnail rounded-circle" width="200px">
            <h1 class="display-4">Alvin Putra </h1>
            <p class="lead">Student | programmer</p>
        </div>
    </div>
</div>